# K V S KRISHNA MURTY
# Contact Email : krishnamurty2802@gmail.com
# My github Account : https://github.com/kvskmurty2802
# This Project GitHub Link : https://github.com/kvskmurty2802/Gym_Website_TailwindCSS

#ignore node_modules
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
